[Desktop Entry]
Categories=Settings;
Comment=Configuration frontend for the Unity desktop environment
Exec=unity-tweak-tool %f
Icon=gconf-editor
GenericName=Unity Tweak Tool
Name=Unity Tweak Tool
OnlyShowIn=Unity;
StartupNotify=true
Terminal=false
Type=Application
Actions=ReloadUnity;

[Desktop Action ReloadUnity]
Name=Reload Unity
Exec=setsid unity
OnlyShowIn=Unity;
