[Desktop Entry]
Categories=Settings;
Comment=Configuration frontend for the Unity desktop environment
Exec=unity-tweak-tool %f
Icon=gconf-editor
GenericName=Unity Tweak Tool
Name=Unity Tweak Tool
OnlyShowIn=Unity;
StartupNotify=true
Terminal=false
Type=Application
Actions=Unity;WinMng;Appearance;System;

[Desktop Action Unity]
Name=Unity
Exec=unity-tweak-tool -u
OnlyShowIn=Unity;

[Desktop Action WinMng]
Name=Window Manager
Exec=unity-tweak-tool -w
OnlyShowIn=Unity;

[Desktop Action Appearance]
Name=Appearance
Exec=unity-tweak-tool -a
OnlyShowIn=Unity;

[Desktop Action System]
Name=System
Exec=unity-tweak-tool -s
OnlyShowIn=Unity;
