[Desktop Entry]
Categories=Settings;
Comment=Configuration frontend for the Unity desktop environment
Exec=unity-tweak-tool %f
Icon=gconf-editor
GenericName=Unity Tweak Tool
Name=Unity Tweak Tool
OnlyShowIn=Unity;
StartupNotify=true
Terminal=false
Type=Application
X-Ayatana-Desktop-Shortcuts=Unity;WinMng;Appereance;System;

[Unity Shortcut Group]
Name=Unity
Exec=unity-tweak-tool -u
TargetEnvironment=Unity

[WinMng Shortcut Group]
Name=Window Manager
Exec=unity-tweak-tool -w
TargetEnvironment=Unity

[Appereance Shortcut Group]
Name=Unity
Exec=unity-tweak-tool -a
TargetEnvironment=Unity

[System Shortcut Group]
Name=Unity
Exec=unity-tweak-tool -s
TargetEnvironment=Unity